<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <td>Name</td>
    <td>{{faculty.name}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{faculty.email}}</td>
  </tr>
  <tr>
    <td>ID</td>
    <td>{{faculty.faculty_id}}</td>
  </tr>
</table>

</body>
</html>